<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="UTF-8"></meta>
		<title>Project List</title>
	</head>
	<body ng-controller="ProjectController as projControl">
		<h1>{{projControl.appName}}</h1>
		<form>
			<input type="text" ng-model="projControl.project.name" placeholder="Name"><br>
			<input type="text" ng-model="projControl.project.stack" placeholder="Stack"><br>
			<input type="date" ng-model="projControl.project.date" placeholder="Date"><br>
			<button ng-click="projControl.addProject(projControl.project)">Add project</button>
		</form>
		
		<ul>
			<li ng-repeat="proj in projControl.projects" ng-click="projControl.loadData(proj.id)">
				{{proj.name}} - {{proj.stack}} - {{proj.date}}
			</li>
		</ul>
		
		<div ng-show="projControl.details">
			<h2>{{projControl.details.name}}</h2>
			<p>Project: {{projControl.details.stack}}, {{projControl.details.date}} </p>
		</div>
		
		<script type="text/javascript" src="bower_components/angular/angular.js"></script>
		<script type="text/javascript" src="bower_components/angular-resource/angular-resource.js"></script>
		<script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
	</body>
</html>